.viewMaintenanceDetails {
  font-family: Poppins;
}

img {
  width: 70px !important;
  height: 70px !important;
  border-radius: 32px;
}

h5 {
  color: var(--clr-silver);
}

.center {
  text-align: center;
}