.sider {
  z-index: 9;
  border-radius: var(--space-xl);
}

.sider :global .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
}

.logo {
  padding: var(--space-md) 3rem;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  line-height: 1.36;
}

.menu {
  height: 100%;
  overflow: auto;
}
/*
.menu:global.ant-menu .ant-menu-item .ant-menu-item-icon {
  transition: font-size 0.2s cubic-bezier(0.215, 0.61, 0.355, 1),
    margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), color 1.3s;
} */

.menu :global .ant-menu-item {
  font-weight: 500;
}

.menu :global .ant-menu-item:hover {
  background: var(--clr-primary-gradient);
}

.menu :global .ant-menu-item:not(:last-child) {
  margin-bottom: var(--space-md);
}

.menu:global.ant-menu-inline-collapsed .ant-menu-item {
  padding: 10px 20px !important;
  margin: 0 15px;
}

.menu :global .ant-menu-item span {
  font-size: var(--text-lg);
}

.menu :global .ant-menu-item:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  border-radius: 10px;
  opacity: 0px;
  background-color: var(--clr-primary);
  left: 0;
  top: 0;
  transition: 0.5s opactiy;
}

.logoPart {
  background-image: var(--clr-primary-gradient);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 767px) {
  .sider {
    position: fixed !important;
    left: -100%;
    z-index: 1;
  }
}
