.maintenanceAmount {
  width: 280px;
  height: 105px;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
}

.maintenanceBox {
  width: 5px;
  height: 55px;
  position: absolute;
  top: 22%;
  left: 0;
  background-color: var(--clr-success);
  border-radius: 0px 5px 5px 0px;
}

.penaltyAmount {
  width: 280px;
  height: 105px;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
}

.penaltyBox {
  width: 5px;
  height: 55px;
  position: absolute;
  top: 22%;
  left: 0;
  background-color: var(--clr-danger);
  border-radius: 0px 5px 5px 0px;
}

.document {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid var(--clr-silver);
  border-radius: 10px;
}