.card {
  max-width: 340px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail>p {
  line-height: 25px;
  font-size: 13px;
  color: var(--clr-black);
  font-family: var(--font-primary);
}

.detail>p>span {
  color: var(--clr-silver);
}

.actions {
  display: flex;
  gap: 5px;
}

.btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  background-color: var(--clr-pearl);
  border-radius: 5px;
  font-size: 24px;
}

.delateButton {
  color: var(--clr-danger);
}

.editButton {
  color: var(--clr-success);
}