.card {
  height: 361px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  font-family: var(--font-primary);
  overflow: hidden;
  background-color: var(--clr-white);
}

.header {
  width: 1140px;
  height: 44px;
}

.body {
  width: 1140px;
  height: 339px;
  overflow-y: auto;
}

/* Table section */

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 36px;
  object-fit: cover;
  object-position: top;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 12px;
  border-radius: 20px;
}

.h5 {
  text-align: center;
  color: var(--clr-gray_2);
}

.h6 {
  font-weight: 600;
}