.content .header {
  border-bottom: 1px solid rgba(var(--clr-gray-rgb), 0.1);
  padding-bottom: var(--space-lg);
  margin-bottom: var(--space-2xl);
}

.modal .content {
  padding: var(--space-xl);
  border-radius: var(--space-xl);
}

.content :global .ant-modal-close {
  top: calc(var(--space-2xl));
  right: calc(var(--space-2xl));
}

.content .closeBtn {
  width: 24px;
  height: 24px;
}

.content .closeBtn svg {
  width: 100%;
  height: 100%;
}


.content .footer{
  margin-top: 3rem;
}