.addExpensesDetails {
  font-family: var(--font-primary);
}

.document {
  margin-top: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 2px dashed #D3D3D3;
  border-radius: 7px;
  cursor: pointer;
}

.h6 {
  color: var(--clr-cult);
  font-weight: bold;
}

.span {
  color: var(--clr-gray_2);
  font-weight: bold;
}

.p {
  color: var(--clr-silver);
}

.uploadDocument {
  height: 98px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--clr-silver);
  border-radius: 10px;
}