.addExpensesDetails {
  font-family: Poppins;
}

.uploadImage {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed #D3D3D3;
  border-radius: 7px;
  cursor: pointer;
}

h6 {
  color: var(--clr-cult);
}

span {
  color: var(--clr-gray_2);
}

p {
  color: var(--clr-silver);
}