.card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.cardBody {
  width: 340px;
  height: 320px;
  gap: var(--space-sm);
  overflow: auto;
}

.importantNumber {
  padding: calc(var(--space-sm) + 2px) var(--space-md);
  border: 1px solid var(--clr-pearl);
  border-radius: 10px;
}

.detail {
  width: calc(100% - 60px);
  margin-right: 22px;
  border-right: 1px solid #f6f8fb;
}

.actions {
  gap: var(--space-xs);
}

.cardBody {
  gap: var(--space-sm);
  height: calc(400px - 60px - calc(var(--space-xl)) * 2);
  overflow: auto;
}
