.main {
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  background-image: url("../../assets/images/background/auth-bg.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1386px 1064px;
}

.AuthenticationLeft {
  background-color: var(--clr-pearl);
  padding: 6rem;
}

.logoPart {
  background-image: var(--clr-primary-gradient);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.AuthenticationRight {
  padding: calc(var(--space-2xl) * 2);
  overflow: auto;
  height: 100%;
  grid-gap: calc(var(--space-2xl) * 2);
}

.AuthenticationContent {
  max-width: 630px;
  border-radius: var(--space-lg);
  border: 1px solid var(--clr-pearl);
  padding: 5rem;
}

@media (max-width: 991px) {
  .main {
    grid-template-columns: 1fr;
  }

  .AuthenticationRight {
    margin: auto 0;
    height: auto;
  }

  .AuthenticationLeft {
    display: none;
  }
}
