.residentManagementScreen {
  width: 100%;
  max-height: 904px;
  background-color: var(--clr-white);
  padding: 15px;
  border-radius: 15px;
}

.rmHeader {
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rmHeader>h1 {
  font-size: var(--text-3xl);
  font-family: var(--font-primary);
  font-weight: 900;
}

.searchbtn {
  width: 294px;
  background-color: var(--clr-white);
  font-size: var(--text-2xl);
  font-family: var(--font-primary);
}

.rmTable {
  margin-top: 10px;
}

.tableHeader {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.tableData {
  text-align: center;
  font-size: 16px;
}

.occupied {
  background-color: var(--clr-Pearls);
}

.btn {
  background-color: var(--clr-pearl);
  padding: 10px;
  border-radius: 5px;
}

.successButton {
  background-color: var(--clr-success);
  color: white;
}

.cultButton {
  background-color: var(--clr-cult);
  color: white;
}

.cardButton {
  display: flex;
  gap: var(--space-xl);
  padding: var(--space-md);
  margin-bottom: var(--space-md);
  border-radius: var(--space-md);
}

.inactiveButton {
  background-color: transparent;
  color: #D3D3D3;
  border: 1px solid #D3D3D3;
}

.activeButton {
  background-color: var(--clr-white);
  color: var(--clr-danger);
  border: 1px solid var(--clr-danger);
}