:root {
    --clr-white: #ffffff;
    --clr-red: #E74C3C;
    --clr-gray: #A7A7A7;
    --clr-black: #202224;
    --clr-light-grayish-blue: #f6f8fb;
    --clr-orange: #ff6a00;
    --clr-greenery: #39973d;
    --clr-pastel-blue: #869FF3;
    --clr-Pink: #EB37C3;
    --clr-cornflower-blue: #5678E9;
    --clr-yellow: #FFC313;
    --clr-light-cyan: #ECFFFF;
    --clr-cyan: #14B8A6;
    --clr-lavender-blush: #FFF6FF;
    --clr-blush-pink: #FFF1F8;
    --clr-lavender-mist: #F1F0FF;
    --clr-royal-indigo: #4F46E5;
    --lgclr-red: linear-gradient(90deg, #FE512E 0%, #F09619 100%);
}